<h1> Results Page </h1>

<ul>
    <% data["Search"].forEach(function(movie){ %>
    <li>
      <%= movie["Title"] %> - <em><%= movie["Year"] %></em>
    </li>
<%  }) %>
</ul>

<a href="/">Search Again</a>
<!--<a href="/">Search Again</a>-->